*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #000;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
@font-face {
	font-family: 'paybooc-Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBAggroL';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family:나눔고딕;
	font-size:13px;
	color:#000;
	line-height:23px;
}
#header_wrap{
	height: 160px;
	border-top: 5px solid #7dc242;
}
#header{
	width: 1320px;
	margin: 0 auto;
	position: relative;
}
#header h1{
	text-align: center;
	padding-top: 38px;
	position: absolute;
	top: 20px;
	left: 580px;
}
#util_menu{
	float: right;
	position: absolute;
	top: 20px;
	right: 0;
}
#util_menu li{
	float: left;
	padding-left: 25px;
}
.gnb1> li >a{
	font-size: 16px;
  color:#754c28;
	font-family: 'paybooc-Medium';
	font-weight: 900;
	float: left;
	text-align: center;
	padding: 85px 250px 0 30px;
	letter-spacing: 1.4px;
	display: block;
}
.gnb> li{
	float: left;
	position: relative;
}
.submenu{
	display: none;
	position: absolute;
	top: 100px;
	left: 20px;
}
.gnb1 li:hover .submenu{
	display: block;
}
.submenu li a{
	background-color: white;
	display: block;
	font-size: 14px;
	color: #754c28;
	font-family: 'paybooc-Medium';
}
.submenu li a:hover{
	background-color: white;
	color: #7dc242;
	font-family: 'paybooc-Medium';
}
.gnb2 li a{
	font-size: 16px;
  color:#754c28;
	font-family: 'paybooc-Medium';
	font-weight: 900;
	float: right;
	text-align: center;
	padding: 85px 150px 0 30px;
	letter-spacing: 1.4px;
	display: block;
}
.gnb2 li{
	float: right;
}
.gnb1 a:hover{
	color: #7dc242;
}
.gnb2 a:hover{
	color: #7dc242;
}
#main1_wrap{
	width: 1320px;
	margin: 0 auto;
	position: relative;
}
#main1{
	height: 570px;
	margin-top: 150px;
	margin-bottom: 150px;
	background-image: url(/images/underbar.png);
	background-repeat: no-repeat;
	background-position: center top 15px;
	position: relative;
}
.title{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #2d6525;
	letter-spacing: 0.7px;
}
#menu_box1{
	padding-top: 82px;
	text-align: center;
}
#main_menu li{
	float: left;
	text-align: center;
	width: 25%;
	font-size: 17px;
}
#main_menu li a{
	color: #cc853e;
}
.sa1{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: -10px;
	border-radius: 50%;
	box-shadow: #7dc242 -6px -6px;
	box-sizing: border-box;
	z-index: -1;
}
.sa2{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 350px;
	border-radius: 50%;
	box-shadow: #7dc242 -6px -6px;
	box-sizing: border-box;
	z-index: -1;
}
.more{
	position: absolute;
	top: 540px;
	left: 610px;
}
.more_link{
	position: absolute;
	top: 536px;
	left: 635px;
}
#bannar2{
	margin: 0 auto;
	width: 1920px;
	height: 390px;
	background-image: url(/images/mobile.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.mobile_box1{
width: 148px;
height: 55px;
background-color: #2d6525;
border-radius: 10px 10px;
position: absolute;
top: 240px;
left: 1000px;
}
.mp1{
	position: absolute;
	top: 258px;
	left: 1025px;
	font-family: 'SBAggroL';
	font-size: 20px;
	color: white;
}
.mobile_box2{
	width: 148px;
	height: 55px;
	background-color: #2d6525;
	border-radius: 10px 10px;
	position: absolute;
	top: 240px;
	left: 1200px;
	}
.mp2{
	position: absolute;
	top: 258px;
	left: 1225px;
	font-family: 'SBAggroL';
	font-size: 20px;
	color: white;
}
#event_boxwrap{
	height: 580px;
	background-image: url(/images/underbar.png);
	background-repeat: no-repeat;
	background-position: center top 15px;
	margin-top: 150px;
}
#event_box{
	width: 1320px;
	margin: 0 auto;
	position: relative;
}
.e1{
	position: absolute;
	top: 100px;
	left: 78px;
	border: 2px solid black;
	z-index: 1;
}
.e1_shadow{
	width: 539px;
	height: 289px;
	background-color: rgba(81, 225, 51, 1);
	position: absolute;
	top: 110px;
	left: 88px;
}
.e2{
	position: absolute;
	top: 195px;
	right: 96px;
	border: 2px solid black;
	z-index: 1;
}
.e2_shadow{
	width: 539px;
	height: 289px;
	background-color: rgba(102, 204, 203, 1);
	position: absolute;
	top: 205px;
	right: 86px;
}
#bannar3{
	height: 300px;
	background-image: url(/images/kakao.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 150px;
}
#store_wrap{
	height: 660px;
	background-image: url(/images/underbar.png);
	background-repeat: no-repeat;
	background-position: center top 15px;
}
#store{
	width: 1320px;
	margin: 0 auto;
}
.store_navi{
	width: 600px;
	height: 320px;
	position: relative;
}
.sp1{
	font-size: 22px;
	font-weight: bold;
	padding: 90px 0 34px 290px;

}
.sp2{
	font-size: 16px;
	padding-left: 238px;
}
.navi{
	padding: 45px 0 0 170px;
}
.button{
	position: absolute;
	top: -5px;
	left: 260px;
}
.search{
	border-bottom: 4px solid #7dc242;
	width: 300px;
	position: absolute;
	top: 260px;
	left: 170px;
}
input{
	width: 120px;
	height: 30px;
	font-size: 18px;
	border: none;
	margin-left: 64px;
}
#store_box1{
	width: 600px;
	height: 220px;
	position: relative;
}
.sp3{
	font-size: 17px;
	padding: 60px 0 0 30px;
}
.order li{
	float: left;
	padding: 20px 10px 0 20px;
}
.del{
	position: absolute;
	top: 20px;
	left: 280px;
	border: 1.5px solid black;
	z-index: 1;
}
.del_box{
	width: 303px;
	height: 173px;
	background-color: #3badb3;
	position: absolute;
	top: 34px;
	left: 294px;
}
#store_box2{
	width: 600px;
	height: 530px;
	float: right;
	background-image: url(/images/map.png);
	background-repeat: no-repeat;
	background-position: center left;
	position: relative;
}
#store_box2 img{
	position: absolute;
	top: 140px;
	left: 34px;
}
#store_box2 h2{
	position: absolute;
	top: 98px;
	left: 144px;
	width: 96px;
	height: 142px;
	box-sizing: border-box;
}
#store_box2 h2:hover{
	background-image: url(/images/guide.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 142px;
	width: 96px;
}
#footer_wrap{
	height: 290px;
	background-color: #212529;
}
#footer{
	width: 1320px;
	margin: 0 auto;
	position: relative;
}
.footer_link_wrap{
	text-align: center;
}
.footer_link{
	display: inline-block;
}
.footer_link li{
	float: left;
	font-size: 14px;
	padding: 25px 0 0 30px;
	color: #858585;
	display: block;
}
#footer h1{
	position: absolute;
	top: 150px;
	left: 205px;
}
.f_contents{
	padding: 95px 0 0 380px;
	color: #858585;
}
#sns_wrap{
	position: absolute;
	top: 28px;
	right: 80px;
}
.sns li{
	float: left;
	margin-left: 40px;
	display: block;
}
