*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #000;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
@font-face {
	font-family: 'paybooc-Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBAggroL';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family:나눔고딕;
	font-size:13px;
	color:#000;
	line-height:23px;
	min-width: 1320px;
}
#header_wrap{
	height: 160px;
	border-top: 5px solid #7dc242;
}
#header{
	width: 1320px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
#header h1{
	text-align: center;
	padding-top: 38px;
	position: absolute;
	top: 20px;
	left: 580px;
}
#util_menu{
	float: right;
	position: absolute;
	top: 20px;
	right: 0;
}
#util_menu li{
	float: left;
	padding-left: 25px;
}
.gnb{
	display: inline-block;
}
.gnb> li >a{
	font-size: 16px;
  color:#754c28;
	font-family: 'paybooc-Medium';
	font-weight: 900;
	float: left;
	padding: 80px 85px 0px;
	letter-spacing: 1.4px;
	display: block;
}
.gnb> li{
	float: left;

}
.gnb> li:nth-child(3){
	width: 300px;
	visibility: hidden;/*안보이게한다_공간인지함*/
}
.gnb> li:hover> .submenu{
	display: block;
}
.gnb a:hover{
	color: #7cc242;
}
.submenu_wrap{
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	border-top: 2px solid #754c28;
	border-bottom: 2px solid #754c28;
	z-index: 99;
	background-color: white;
	min-width: 1320px;
}
.submenu li a{
	display: block;
	padding: 8px 0 10px;
	font-size: 14px;
	font-family: 'paybooc-Medium';
	color: #754c28;
	font-weight: bold;
}
.submenu li a:hover{
	color: #7cc242;
	font-family: 'paybooc-Medium';
}
.submenu{
	width: 1320px;
	height: 230px;
	margin: 0 auto;
}
.submenu ul{
	text-align: center;
	float: left;
}
.submenu ul:nth-child(1){
	padding-left: 131px;
}
.submenu ul:nth-child(2){
	padding-left: 178px;
}
.submenu ul:nth-child(3){
	padding-left: 300px;
}
.submenu ul:nth-child(4){
	padding-left: 161px;
}
.submenu ul:nth-child(5){
	padding-left: 153px;
}
.su1{
	padding-top: 20px;
}

#m_bannar{
  margin-bottom: 150px;
  height: 390px;
  background-image: url(../images/sub2/s2_bannar.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

span{
  font-weight: 600;
}

#contents_wrap{
  width: 1320px;
  height: 750px;
  margin: 0 auto;
	padding-bottom: 80px;
}
#con1{
  width: 760px;
  height: 750px;
  float: left;
}
#con1 h2{
  padding: 25px 0 0 55px;
  font-family: 'paybooc-Medium';
}
#con1 img{
  padding: 50px 0 0 80px;
}
#con2{
  width: 560px;
  height: 750px;
  float: left;
}
#con2 img{
  padding-top: 110px;
}
#con2 h2{
  padding-top: 55px;
}
.cp1{
  padding-top: 40px;
  font-size: 14px;
	line-height: 25px;
}
.cp2{
  padding-top: 40px;
  font-size: 14px;
	line-height: 25px;
}

#key_box{
	width: 1320px;
	margin: 0 auto;
	padding-bottom: 130px;
}
#key_box p{
	text-align: center;
}
#map_box{
	width: 1320px;
	height: 720px;
	margin: 0 auto;
	position: relative;
}
.map_l{
	width: 400px;
	height: 600px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.map_r{
	width: 1320px;
	height: 605px;
	margin: 0 auto;
}
.search_box{
	width: 400px;
	height: 600px;
	border: 4px solid #7cc242;
	position: relative;
	background-color: white;
}
.s1{
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	padding-top: 45px;
}
.search input{
	margin:30px 35px 0;
	font-size: 16px;
	width: 330px;
	height: 45px;
	border: 2px solid #a0a0a0;
}
.sg{
	position: absolute;
	top: 108px;
	left: 325px;
}
.s2{
	padding: 20px 0 0 36px;
	font-size: 15px;
	font-weight: 700;
}
.s3{
	padding: 10px 0 0 36px;
	font-size: 14px;
}
.search_menu1{
	width: 89px;
	height: 27px;
	border: 3px solid #a0a0a0;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	margin: 20px 10px 0 36px;
}
.search_menu1:hover{
	background-color: #fbefe1;
	border: 3px solid #7dc242;
}
.search_menu2{
	width: 89px;
	height: 27px;
	border: 3px solid #a0a0a0;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	margin: 0 10px 0 0;
}
.search_menu2:hover{
	background-color: #fbefe1;
	border: 3px solid #7dc242;
}
.search_menu3{
	width: 89px;
	height: 27px;
	border: 3px solid #a0a0a0;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	margin: 0 0px 0 0;
}
.search_menu3:hover{
	background-color: #fbefe1;
	border: 3px solid #7dc242;
}
.s4{
	padding: 35px 0 0 36px;
	font-size: 15px;
	font-weight: 700;
}
.s5{
	padding: 10px 0 0 36px;
	font-size: 14px;
}
#footer_wrap{
	height: 290px;
	background-color: #212529;
}
#footer{
	width: 1320px;
	margin: 0 auto;
	position: relative;
}
.footer_link_wrap{
	text-align: center;
}
.footer_link{
	display: inline-block;
}
.footer_link li{
	float: left;
	font-size: 14px;
	padding: 25px 0 0 30px;
	color: #858585;
	display: block;
}
#footer h1{
	position: absolute;
	top: 150px;
	left: 205px;
}
.f_contents{
	padding: 95px 0 0 380px;
	color: #858585;
}
#sns_wrap{
	position: absolute;
	top: 28px;
	right: 80px;
}
.sns li{
	float: left;
	margin-left: 40px;
	display: block;
}